<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Image</title>
    <th:block th:insert="fragments/layout :: head"></th:block>
</head>
<body>
<th:block th:insert="fragments/layout::header"></th:block>
<div class="container-fluid" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="stacked">
                <div class="card border-primary mb-3" style="margin-top: 20px">
                    <div class="card-header bg-primary" style="color: white">
                        <h5>Upload Image</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <form method="post" enctype="multipart/form-data"
                                      th:action="@{'/recipe/' + ${recipe.id} + '/image'}">
                                    <label class="control-label" for="imagefile"><h6>Select File</h6></label>
                                    <input id="imagefile" name="imagefile" type="file" class="form-control-file">
                                    <br>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/layout::footer"></th:block>
</body>
</html>