<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
          th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<a href="/" class="btn btn-primary">Home</a>
<div class="container-fluid" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h3 th:text="${recipe.description}">Recipe Name</h3>
            <div class="stacked">
                <div class="card border-primary mb-3" style="margin-top: 20px">
                    <div class="card-header bg-primary" style="color: white">
                        <h5>Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5 class="card-title">Category</h5>
                            </div>
                            <div class="col-md-9">
                                <ul class="card-text">
                                    <li th:remove="all">Cat one</li>
                                    <li th:remove="all">Cat two</li>
                                    <li th:each="category : ${recipe.categories}" th:text="${category.description}">Cat three</li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                                <h5>Prep Time :</h5>
                            </div>
                            <div class="col-md-4">
                                <p th:text="${recipe.prepTime} + ' min'">30 min</p>
                            </div>
                            <div class="col-md-2">
                                <h5>Difficulty :</h5>
                            </div>
                            <div class="col-md-4">
                                <p th:text="${recipe.difficulty}">Easy</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h5>Cook Time :</h5>
                            </div>
                            <div class="col-md-4">
                                <p th:text="${recipe.cookTime} + ' min'">30 min</p>
                            </div>
                            <div class="col-md-2">
                                <h5>Servings :</h5>
                            </div>
                            <div class="col-md-4">
                                <p th:text="${recipe.servings}">4</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h5>Source :</h5>
                            </div>
                            <div class="col-md-4">
                                <p th:text="${recipe.source}">30 min</p>
                            </div>
                            <div class="col-md-2">
                                <h5>URL :</h5>
                            </div>
                            <div class="col-md-4">
                                <a th:href="${recipe.url}"
                                   th:text="${(recipe.source +
                                   ' - ' + recipe.description)}">http://www.example.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-primary mb-3" style="margin-top: 20px">
                    <div class="card-header bg-primary" style="color: white">
                        <h5>Ingredients</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="card-text">
                                    <li th:remove="all">1 Cup of milk</li>
                                    <li th:remove="all">1 Teaspoon of chocolate</li>
                                    <li th:each="ingredient : ${recipe.ingredients}"
                                        th:text="${(ingredient.amount +
                                        ' ' + ingredient.uom.description +
                                        ' ' + ingredient.description)}">1 Teaspoon of Sugar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-primary mb-3" style="margin-top: 20px">
                    <div class="card-header bg-primary" style="color: white">
                        <h5>Directions</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify" th:text="${recipe.directions}">Lorem ipsum.</p>
                    </div>
                </div>

                <div class="card border-primary mb-3" style="margin-top: 20px; margin-bottom: 20px">
                    <div class="card-header bg-primary" style="color: white">
                        <h5>Notes</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify" th:text="${recipe.notes.recipeNotes}">Lorem ipsum.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

</body>
</html>