<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Recipe</title>
    <th:block th:insert="fragments/layout :: head"></th:block>
</head>
<body>
<th:block th:insert="fragments/layout::header"></th:block>
<div class="container-fluid" style="margin-top: 50px" id="recipe-show">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-10">
                    <h2 th:text="${recipe.description}">Recipe Name</h2>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-secondary" href="#" id="chImage"
                       th:href="@{'/recipe/' + ${recipe.id} + '/image'}">Change Image</a>
                </div>
            </div>

            <div class="recipe-image">
                <div th:if="${recipe.getImage()== null}">
                    <img src="../../static/images/Food.jpg" th:src="@{/images/Food.jpg}"
                         class="w-100" alt="Card image cap">
                </div>
                <div th:if="${recipe.getImage()!= null}">
                    <img src="../../static/images/Food.jpg" th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                         class="w-100" alt="Food">
                </div>
            </div>

            <div class="recipe-notes">
                <p th:text="${recipe.notes.recipeNotes}">Lorem ipsum.</p>
            </div>
            <div>
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-2">
                        <p><i class="fas fa-file-alt"></i><strong> Source :</strong></p>
                    </div>
                    <div class="col-md-4">
                        <p th:text="${recipe.source}">Src</p>
                    </div>
                    <div class="col-md-2">
                        <p><i class="fas fa-globe-asia"></i><strong> URL :</strong></p>
                    </div>
                    <div class="col-md-4">
                       <p><a target="_blank" th:href="${recipe.url}"
                           th:text="${(recipe.source +
                                      ' - ' + recipe.description)}">http://www.example.com</a></p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="categoryList" style="margin-top: 3px">
                <div>
                    <h5><i class="fas fa-tags"></i> Category</h5>
                    <span th:each="category : ${recipe.categories}">
                        <a href="#" class="btn btn-outline-info"
                           th:href="@{'/category/' + ${category.id} + '/show'}"
                           th:text="${category.description}"></a>
                    </span>

                </div>
            </div>

            <hr>
            <div>
                <div class="row">
                    <div class="col-md-1">
                        <i class="far fa-clock fa-4x"></i>
                    </div>
                    <div class="col-md-2">
                        <span><p><strong>Prep in </strong></p><p th:text="' ' + ${recipe.prepTime} + ' min'"> 30 min</p></span>
                    </div>
                    <div class="col-md-2">
                        <span><p><strong>Cooks in </strong></p><p th:text="' ' + ${recipe.cookTime} + ' min'"> 30 min</p></span>
                    </div>
                    <div class="col-md-1 offset-md-4">
                        <i class="fas fa-utensils fa-4x"></i>
                    </div>
                    <div class="col-md-2">
                        <span><p><strong>Servings </strong></p><p th:text="' ' + ${recipe.servings} + ' servings'"> 4</p></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-10 ">
                            <h4>Ingredients</h4>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-outline-secondary btn-sm" href="#"
                               th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
                        </div>
                    </div>
                    <ul>
                        <li th:each="ingredient : ${recipe.ingredients}"
                            th:text="${(ingredient.amount +
                            ' ' + ingredient.uom.description +
                            ' ' + ingredient.description)}">1 Teaspoon of Sugar</li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <h4>Directions</h4>
                    <p class="card-text" style="text-align: justify"
                       th:utext="${#strings.replace(recipe.directions, newLineChar, '&lt;br&gt;')}">Lorem ipsum.</p>
                </div>
            </div>
            <hr>
            <div class="categoryList">
                <div class="col-md-12">
                    <h5><i class="fas fa-tags"></i> Explore recipes by category</h5>
                    <span th:each="category : ${categories}">
                        <a href="#" class="btn btn-outline-secondary"
                           th:href="@{'/category/' + ${category.id} + '/show'}"
                           th:text="${category.description}"></a>
                    </span>

                </div>
            </div>

        </div>
    </div>
</div>
<th:block th:insert="fragments/layout::footer"></th:block>
</body>
</html>