<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Ingredient</title>
    <th:block th:insert="fragments/layout :: head"></th:block>
</head>
<body>
<th:block th:insert="fragments/layout::header"></th:block>
<div class="container-fluid" style="margin-top: 50px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <form th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.recipeId} + '/ingredient'}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="card border-primary mb-3" style="margin-top: 20px">
                    <div class="card-header bg-primary" style="color: white">
                        <div class="row">
                            <div class="col-md-11">
                                <h5>Edit Ingredient Information</h5>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <dive class="row">
                            <div class="col-md-3 form-group">
                                <label>Amount</label>
                                <input type="number" class="form-control" th:field="*{amount}">
                            </div>
                            <div class="col-md-3 form-group">
                                <label>UOM</label>
                                <select class="form-control" name="unitOfMeasure.id">
                                    <option th:each="uomEach : ${uomList}"
                                            th:value="${uomEach.id}"
                                            th:selected="${uomEach.id.equals(ingredient.unitOfMeasure.id)}"
                                            th:text="${uomEach.description}">Each</option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" th:field="*{description}">
                            </div>
                        </dive>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="fragments/layout::footer"></th:block>
</body>
</html>