body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1;
}

.container-fluid{
    flex: 1;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

.card-header h5{
    font-weight: bold;
}

.mainFooter {
    background-color: #007bff;
    padding: 15px;
    color: #ffffff;
    margin-top: 20px;
}

#button-round a{
    border-radius: 20px;
}

#button-round-lg a{
    margin-top: 10px;
    width: 190px;
    border-radius: 40px;
}

#error{
    margin-top: 10px;
    color: #ffffff;
}

#error h1{
    font-size: 200px;
}

.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.carousel-item h1{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #000000;
}

.carousel-item h2{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #000000;
}

hr {
    border: 0;
    height: 1px;
    background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

.categoryList{
    margin-top: 50px;
}

.categoryList a{
    margin-top: 10px;
    width: 230px;
    border-radius: 40px;
    margin-left: 70px;
}

.image-container{
    position: relative;
    height: 500px;
}

.image-container img{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 500px;
    object-fit:cover;
}

.image-container h1{
    position: absolute;
    display: block;
    width: 50%;
    margin-top: 12%;
    max-width: 710px;
    font-size: 4vw;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 .125em .125em rgba(0, 0, 0, .5);
    padding: .6em 1em .6em 1.7em;
}

#chImage{
    float: right;
}

p{
    text-align: justify;
    font-size: large;
}

ul{
    text-align: justify;
    font-size: large;
}

.recipe-image{
    position: relative;
    height: 500px;
}

.recipe-image img{
    border: 1px solid #9a9a9a;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 500px;
    object-fit:cover;
}

#recipe-show h2, h4, h5{
    font-weight: bold;
}

.recipe-notes p{
    margin-top: 50px;
    font-size: larger;
}