<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
    <th:block th:insert="fragments/layout :: head"></th:block>
</head>
<body>
<th:block th:insert="fragments/layout::header"></th:block>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div>
            <h2>My Recipes!!!</h2>
        </div>

        <div class="card-deck">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" th:each="recipe : ${recipes}" style="margin-top: 20px">
                <div class="card border-primary">
                    <div th:if="${recipe.getImage()== null}">
                        <img class="card-img-top" src="../../static/images/Food.jpg"
                             th:src="@{/images/Food.jpg}"
                             alt="Card image cap">
                    </div>
                    <div th:if="${recipe.getImage()!= null}">
                        <img class="card-img-top" src="../../static/images/Food.jpg"
                             th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                             alt="Card image cap">
                    </div>
                    <div class="card-header text-white bg-primary">
                        <h5 class="card-title" th:text="${recipe.description}">Name</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${#strings.abbreviate(recipe.notes.recipeNotes, 150)}">Sample Text</p>
                        <ul class="list-group list-group-flush" id="button-round">
                            <li class="list-group-item"><a href="#" class="btn btn-outline-primary btn-block" th:href="@{'/recipe/' + ${recipe.id} + '/show'}"><i class="bi bi-binoculars-fill"></i> View Recipe</a></li>
                            <li class="list-group-item"><a href="#" class="btn btn-outline-warning btn-block" th:href="@{'/recipe/' + ${recipe.id} + '/update' }"><i class="bi bi-pencil-square"></i> Update Recipe</a></li>
                            <li class="list-group-item"><a href="#" class="btn btn-outline-danger btn-block" th:href="@{'/recipe/' + ${recipe.id} + '/delete' }"><i class="bi bi-trash-fill"></i> Delete Recipe</a></li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent border-primary">
                        <p class="card-text" th:text="${recipe.id}"><small class="text-muted">00</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul>
            <li th:each="category : ${categories}">
                <a href="#" class="btn btn-outline-primary"
                   th:href="@{'/category/' + ${category.id} + '/show'}"
                   th:text="${category.description}"></a>
            </li>
        </ul>
    </div>
</div>
<th:block th:insert="fragments/layout::footer"></th:block>
</body>
</html>